# Base de datos local
db.sqlite3

# Archivos de medios y estáticos (si los gestionas localmente)
media/
assets/

# Variables de entorno (si usas un archivo .env)
.env
venv/ 

# Archivos de log
*.log

# Configuraciones locales (si tienes un archivo settings_local.py, por ejemplo)
local_settings.py

# Archivos del sistema operativo
.DS_Store
.idea/ 
*.swp 

# Python
*.pyc
__pycache__/
.pytest_cache/
.coverage
/htmlcov/
*.egg-info/

# Node.js
/theme/node_modules/ 
npm-debug.log
yarn-debug.log
.pnp.*

# IDEs
.idea/
.vscode/ 