# Base de datos local
db.sqlite3

# Archivos de medios y estáticos (si los gestionas localmente)
media/
static/

# Variables de entorno (si usas un archivo .env)
.env
venv/ # Tu entorno virtual de Python

# Archivos de log
*.log

# Configuraciones locales (si tienes un archivo settings_local.py, por ejemplo)
local_settings.py

# Archivos del sistema operativo
.DS_Store
.idea/ # Para usuarios de PyCharm
*.swp # Para usuarios de Vim

# Python
*.pyc
__pycache__/
.pytest_cache/
.coverage
/htmlcov/
*.egg-info/

# Node.js
/theme/node_modules/ # <-- ¡Asegúrate de incluir esta línea!
npm-debug.log
yarn-debug.log
.pnp.*

# IDEs
.idea/ # Para PyCharm
.vscode/ # Para VS Code