{% extends 'wizard_base.html' %}
{% load static %}        

{% block title %}Nueva Inscripción - El Sistema Guayana{% endblock %}
{% block current_page %}Inscribir nuevo alumno{% endblock %}

{% block wizard_title %}Información Académica y Socioeconómica del Estudiante{% endblock %} 

{% block wizard_form_content  %}     

    {# Campos específicos del Paso 2 #}
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2 form-group">
            {{ wizard.form.academic_institution_name.label_tag }}
            {{ wizard.form.academic_institution_name }}
            {% if wizard.form.academic_institution_name.help_text %}<p class="helptext">{{ wizard.form.academic_institution_name.help_text }}</p>{% endif %}
            {% if wizard.form.academic_institution_name.errors %}<ul class="errorlist">{% for error in wizard.form.academic_institution_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
        <div class="sm:col-span-2 form-group">
            {{ wizard.form.academic_institution_type.label_tag }}
            {{ wizard.form.academic_institution_type }}
            {% if wizard.form.academic_institution_type.help_text %}<p class="helptext">{{ wizard.form.academic_institution_type.help_text }}</p>{% endif %}
            {% if wizard.form.academic_institution_type.errors %}<ul class="errorlist">{% for error in wizard.form.academic_institution_type.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
        <div class="sm:col-span-2 form-group">
            {{ wizard.form.academic_degree.label_tag }}
            {{ wizard.form.academic_degree }}
            {% if wizard.form.academic_degree.help_text %}<p class="helptext">{{ wizard.form.academic_degree.help_text }}</p>{% endif %}
            {% if wizard.form.academic_degree.errors %}<ul class="errorlist">{% for error in wizard.form.academic_degree.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
    </div>

    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-full form-group">
            {{ wizard.form.academic_institution_address.label_tag }}
            {{ wizard.form.academic_institution_address }}
            {% if wizard.form.academic_institution_address.help_text %}<p class="helptext">{{ wizard.form.academic_institution_address.help_text }}</p>{% endif %}
            {% if wizard.form.academic_institution_address.errors %}<ul class="errorlist">{% for error in wizard.form.academic_institution_address.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
    </div>

    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2 form-group">
            {{ wizard.form.housing_type.label_tag }}
            {{ wizard.form.housing_type }}
            {% if wizard.form.housing_type.help_text %}<p class="helptext">{{ wizard.form.housing_type.help_text }}</p>{% endif %}
            {% if wizard.form.housing_type.errors %}<ul class="errorlist">{% for error in wizard.form.housing_type.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
        <div class="sm:col-span-2 form-group">
            {{ wizard.form.housing_condition.label_tag }}
            {{ wizard.form.housing_condition }}
            {% if wizard.form.housing_condition.help_text %}<p class="helptext">{{ wizard.form.housing_condition.help_text }}</p>{% endif %}
            {% if wizard.form.housing_condition.errors %}<ul class="errorlist">{% for error in wizard.form.housing_condition.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
        <div class="sm:col-span-2 form-group">
            {{ wizard.form.number_people_living_housing.label_tag }}
            {{ wizard.form.number_people_living_housing }}
            {% if wizard.form.number_people_living_housing.help_text %}<p class="helptext">{{ wizard.form.number_people_living_housing.help_text }}</p>{% endif %}
            {% if wizard.form.number_people_living_housing.errors %}<ul class="errorlist">{% for error in wizard.form.number_people_living_housing.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
    </div>

{% endblock %}